# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.lock
*.log
*.pdom
*.xml
*.index
*.snap
*.properties
*.prefs
*.resources
*.fdx
*.fnm
*.gen
*.frq
*.fdt
prueba/posix.c
prueba/interrupcionExterna.c
prueba/cab.h
prueba/alarma.c
*.zip
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
*.nrm
*.tii
*.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
*.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
*.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
*.mark
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
*.mk
*.d
*.o
*.launch
*.libhover
prueba/Debug/prueba
prueba/Debug/prueba
prueba/Debug/prueba
